<div class="d-flex align-items-center">
  <h1>レース一覧</h1>
  <div class="ml-auto races__linkBox">
    <a href="/races/new" class="btn btn-outline-dark">新規作成</a>
  </div>
</div>

<% if flash[:notice] %>
  <div class="alert alert-danger"><%= flash[:notice] %></div>
<% end %>

<table class="table table-hover races__table">
  <thead class="thead-dark">
    <tr>
      <th>名前</th>
      <th>スタートリスト</th>
      <th>作成日時</th>
      <th>更新日時</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @races.each do |race| %>
      <tr>
        <td><%= race.name %></td>
        <td><%= link_to 'スタートリスト', start_list_path(race.start_list_id), class: 'btn btn-outline-dark' %></td>
        <td><%= race.created_at.to_s(:datetime_jp) %></td>
        <td><%= race.updated_at.to_s(:datetime_jp) %></td>
        <td><%= link_to '詳細', race, class: 'btn btn-outline-dark' %></td>
        <td><%= link_to '削除', race, class: 'btn btn-outline-dark', method: :delete %></td>
      </tr>
    <% end %>
  </tbody>
</table>
